[tool.black]
line-length = 100
target-version = ["py311", "py312"]
exclude = ".git|__pycache__|build|dist"

[tool.coverage.run]
branch = true
source = ["src"]

[tool.coverage.report]
show_missing = true
skip_covered = true

[tool.flake8]
max-line-length = 100
extend-ignore = ["E203", "W503", "E501"]
exclude = [".git", "__pycache__", "build", "dist"]
per-file-ignores = [
    "src/screens/*.py:E402,F401,F811,F841,E722,F821,F541"
]

[tool.isort]
profile = "black"
line_length = 100
src_paths = ["src", "tests"]